* {
    margin: 0;
    padding: 0;
}
html {
    padding: 0px;
    margin: 0 auto;
    font-weight: 400;
}

body {
    margin: 0px auto;
    padding: 0px;
}

p {
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

svg {
    transition: .3s all ease;
}

figure {
    margin: 0;
}

._toggler {
    box-shadow: none !important;
    border: none !important;
}

.dropdown-toggle::after {
    display: none;
}

._toggler.collapsed ._personal_port_header_navbar_toggle_btn_icon {
    background-image: url("../img/menu.png") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}

._toggler ._personal_port_header_navbar_toggle_btn_icon {
    background-image: url("../img/menu_close.png") !important;
    transition: 0.1s all ease-in-out;
    max-width: 18px;
}

/*----------------
header-nav start 
------------------*/
._portfolio_header_wrapper {
    background-color: var(--color4);
}

._portfolio_header_nav_wrapper {
    padding: 20px 0;
}

._portfolio_header_nav_wrapper_list {
    gap: 42px;
    align-items: center;
}

._portfolio_header_nav_wrapper_item_link {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
}

._portfolio_header_nav_wrapper_item_span_1 {
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease;
}

._portfolio_header_nav_wrapper_item_span_1:hover {
    background-color: var(--color2);
}

._portfolio_header_nav_wrapper_item_span_1 svg path {
    transition: .2s all ease;
}

._portfolio_header_nav_wrapper_item_span_1:hover svg path {
    stroke: var(--color4);
}

._portfolio_header_nav_wrapper_item_span_2 {
    margin: 0 8px 0 0;
    width: 28px;
    height: 28px;
    background-color: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------
Portfolio Landing Page Header herosection start
-------------------------------------------*/
._portfolio_hero_wrapper {
    padding: 97px 0 90px;
    position: relative;
    overflow: hidden;
}

._portfolio_hero_wrapper_shape {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /*border-left: 725px solid transparent;
    border-right: 725px solid transparent;
    border-bottom: 75px solid var(--color2); */
}

._portfolio_hero_wrapper_shape_2 {
    display: none;
}

._portfolio_hero_left_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 87%;
    margin: 0 0 20px;
    /* text-transform: capitalize; */
}

._portfolio_hero_left_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color2);
    max-width: 75%;
    margin: 0 0 40px;
}

._portfolio_hero_left_btn {
    margin: 0 0 70px;
}

._portfolio_hero_left_btn_link {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: var(--color1) !important;
    padding: 0 35px;
    height: 60px;
    background: var(--color2) !important;
    transition: .2s all ease;
}

._portfolio_hero_left_btn_link:hover {
    color: var(--color2) !important;
    border: 1px solid var(--color2) !important;
    background-color: transparent !important;
}

._portfolio_hero_right {
    position: relative;
}

._portfolio_hero_right_bg_img {
    max-width: 470px;
    background: var(--color5);
    border: 1px solid var(--color2);
    border-radius: 235px;
    overflow: hidden;
}

._portfolio_hero_right_img {
    max-width: 352px;
    margin: 0 auto;
}

._portfolio_hero_right_video_btn {
    border: 0;
}

._portfolio_hero_right_video_img {
    position: absolute;
    content: "";
    top: 15px;
    right: 108px;
    width: 170px;
    height: 170px;
}

._portfolio_hero_scroll_bar {
    margin: 0 0 39px;
    display: inline-block;
}

._portfolio_hero_scroll_down_link {
    width: 54px;
    height: 54px;
    border: 1px solid var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all ease;
    background-color: transparent !important;
}

._portfolio_hero_scroll_down_link:hover {
    background-color: var(--color2) !important;
}

._portfolio_hero_scroll_down_svg svg path {
    transition: .2s all ease;
}

._portfolio_hero_scroll_down_link:hover ._portfolio_hero_scroll_down_svg svg path {
    stroke: var(--color9) !important;
}

/*-----------------------------------------
Portfolio Landing Page services start
-------------------------------------------*/
._portfolio_services_wrapper {
    margin: 170px 0;
    overflow: hidden;
}

._portfolio_services_list_item_title.active {
    color: var(--color8);
}

._portfolio_services_top_left_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 82%;
}

._portfolio_services_top_right_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 89%;
}

._portfolio_services_btm_cont {
    margin: 70px 0 0;
    position: relative;
}

._portfolio_services_bg_img {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 470px;
    height: 360px;
}

._portfolio_services_list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color7);
    padding: 0 0 31px;
    margin: 70px 0 0;
}

._portfolio_services_list_item_1 {
    flex: 0 0 394px;
    flex-wrap: wrap;
}

._portfolio_services_list_item_2 {
    flex: 0 0 750px;
    flex-wrap: wrap;
}

._portfolio_services_list_item_3 {

    flex-wrap: wrap;
}

._portfolio_services_list_item_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--color2);
    transition: .2s all ease;
    cursor: pointer;
}

._services_list_item_title_active {
    /* color: var(--color8); */
}

._portfolio_services_list_item_txt {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
}

/*-----------------------------------------
Portfolio Landing Page portfolio start
-------------------------------------------*/
._portfolio_portfolio_wrapper {
    margin: 0 0 170px;
}

._portfolio_portfolio_top_cont {
    margin: 0 0 70px;
}

._portfolio_portfolio_top_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 74%;
    margin: 0 0 20px;
}

._portfolio_portfolio_top_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 71%;
}

._portfolio_portfolio_card_cont {
    padding: 38px;
    border-radius: 24px;
}

._portfolio_portfolio_card_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 100%;
    margin: 0 0 8px;
}

._portfolio_portfolio_card_txt {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color2);
    margin: 0 0 38px;
}

._card_1 {
    background-color: var(--color5);
    margin: 0 0 30px;
}

._card_2 {
    background-color: var(--color4);
}

._card_3 {
    background-color: var(--color6);
}

._portfolio_portfolio_btn {
    margin: 72px 0 0;
    display: inline-block;
}

._portfolio_portfolio_btn_link {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: var(--color1) !important;
    padding: 0 35px;
    height: 60px;
    background: var(--color2) !important;
    border-radius: 8px;
    transition: .2s all ease;
}

._portfolio_portfolio_btn_link:hover {
    color: var(--color2) !important;
    border: 1px solid var(--color2) !important;
    background-color: transparent !important;
}

/*-----------------------------------------
Portfolio Landing Page process start
-------------------------------------------*/
._portfolio_process_wrapper {
    margin: 0 0 170px;
}

._portfolio_process_left_title {
    font-family: 'Sentient';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 80%;
    margin: 0 0 20px;
}

._portfolio_process_left_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 77%;
}

._portfolio_process_right_card_cont {
    height: 100%;
}

._portfolio_process_right_card_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 80%;
    margin: 0 0 28px;
}

._portfolio_process_right_card_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 87%;
}

._portfolio_process_right_span {
    margin: 0 0 18px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    transition: .2s all ease;
}

._process_right_card_span_1 {
    background-color: var(--color9);
}

._process_right_card_span_1:hover {
    background-color: var(--color2);
    color: var(--color9);
}

._process_right_card_span_2 {
    background-color: var(--color5);
}

._process_right_card_span_2:hover {
    background-color: var(--color2);
    color: var(--color5);
}

._process_right_card_span_3 {
    background-color: var(--color6);
}

._process_right_card_span_3:hover {
    background-color: var(--color2);
    color: var(--color6);
}

/*-----------------------------------------
Portfolio Landing Page Awwwards start
-------------------------------------------*/

._portfolio_awwwards_wrapper {
    margin: 0 0 170px;
}

._portfolio_awwwards_top_left_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 100%;
}


._portfolio_awwwards_top_right_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 89%;
}


._portfolio_awwwards_btm_cont {
    margin: 70px 0 0;
}

._portfolio_awwwards_list_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--color2);
    margin: 0 0 38px;
}

._portfolio_awwwards_list_item {
    margin: 0 0 18px;
}

._portfolio_awwwards_list_item_txt {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--color7);
}

/*-----------------------------------------
Portfolio Landing Page Clients  start
-------------------------------------------*/
._portfolio_clients_wrapper {
    margin: 0 0 170px;
}

._portfolio_clients_left_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 76%;
    margin: 0 0 20px;
}

._portfolio_clients_left_para {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color7);
    max-width: 78%;
}

._portfolio_clients_right_card {
    border: 1px solid var(--color2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 30px);
    margin-bottom: 30px;
}

._portfolio_clients_right_card_img {
    width: 100px;
    height: 100px;
}

._portfolio_clients_right_card_btm {
    border-top: 1px solid var(--color2);
    width: 100%
}

._portfolio_clients_right_card_txt {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: var(--color7);
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------
Portfolio Landing Page footer start
-------------------------------------------*/
._portfolio_footer_wrapper {
    background-color: var(--color6);
    /* padding: 100px 0 0; */
}

._portfolio_footer_top_cont {
    padding: 100px 0 38px;
}

._portfolio_footer_left_title {
    font-family: 'Sentient';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: var(--color2);
    max-width: 80%;
}

._portfolio_footer_right_para {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color2);
    max-width: 77%;
}

._portfolio_footer_right_btn {
    margin: 40px 0 0;
}

._portfolio_footer_right_btn_link {
    padding: 0 35px;
    height: 60px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: var(--color1) !important;
    background: var(--color2) !important;
    border-radius: 8px;
    transition: .2s all ease;
}

._portfolio_footer_right_btn_link:hover {
    color: var(--color2) !important;
    border: 1px solid var(--color2) !important;
    background-color: transparent !important;
}

._portfolio_footer_middle_title {
    font-family: 'Sentient';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: var(--color2);
    margin: 0 0 38px;
}

._portfolio_footer_middle_btn_list_cont {
    margin: 0 0 38px;
}

._portfolio_footer_middle_btn_list {
    display: flex;
    align-items: center;
    gap: 28px;
}

._portfolio_footer_middle_btn_link {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--color2);
    padding: 0 25px;
    height: 52px;
    border: 1px solid var(--color2);
    border-radius: 8px;
    background-color: transparent;
    transition: .2s all ease;
}

._portfolio_footer_middle_btn_link:hover {
    background-color: var(--color2) !important;
    color: var(--color1) !important;
}

._portfolio_footer_btm_cont {
    padding: 38px 0;
    border-top: 1px solid var(--color2);
}

._portfolio_footer_btm_title {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--color10);
}


/* responsive */
/* Desktop/Laptop */
@media only screen and (min-width: 1600px) {}

/* large device */
@media (max-width: 1399px) {

    /* Portfolio Landing Page header herosection */
    ._portfolio_hero_right_video_img {
        right: 37px;
    }

    ._portfolio_hero_left_para {
        max-width: 88%;
    }

    /* Portfolio Landing Page services start */
    ._portfolio_services_top_right_para {
        font-size: 17px;
        max-width: 100%;
    }

    ._portfolio_services_list_item_2 {
        flex: 0 0 562px;
    }

    /* Portfolio Landing Page portfolio start */
    ._portfolio_portfolio_top_title {
        max-width: 85%;
    }

    ._portfolio_portfolio_top_para {
        max-width: 86%;
    }

    ._portfolio_portfolio_btn {
        margin: 60px 0 0;
    }

    /* Portfolio Landing Page process start */
    ._portfolio_process_left_para {
        max-width: 90%;
    }

    ._portfolio_process_right_card_para {
        font-size: 15px;
        max-width: 95%;
    }

    /* Portfolio Landing Page Awwwards start */
    ._portfolio_awwwards_top_right_para {
        font-size: 17px;
        max-width: 100%;
    }

    /* Portfolio Landing Page Clients start */
    ._portfolio_clients_left_title {
        max-width: 82%;
    }

    ._portfolio_clients_left_para {
        max-width: 88%;
    }

    /* Portfolio Landing Page footer start  */
    ._portfolio_footer_left_title {
        max-width: 85%;
    }

    ._portfolio_footer_right_para {
        max-width: 87%;
    }
}

@media(max-width:1199px) {
    ._portfolio_hero_left_title {
        font-size: 50px;
        max-width: 100%;
    }

    ._portfolio_hero_wrapper {
        padding: 80px 0 80px;
    }

    ._portfolio_hero_right_video_img {
        right: -41px;
        top: 29px;
    }

    ._portfolio_hero_wrapper_shape {
        bottom: -6px;
    }

    /* Portfolio Landing Page services start */
    ._portfolio_services_list_item_title {
        font-size: 26px;
    }

    ._portfolio_services_list_item_1 {
        flex: 0 0 265px;
    }

    ._portfolio_services_list_item_2 {
        flex: 0 0 520px;
    }

    ._portfolio_services_list {
        margin: 40px 0 0;
    }

    ._portfolio_services_bg_img {
        width: 390px;
    }

    ._portfolio_services_top_left_title {
        font-size: 35px;
    }

    ._portfolio_services_wrapper {
        margin: 100px 0;
    }

    /* Portfolio Landing Page portfolio start */
    ._portfolio_portfolio_wrapper {
        margin: 0 0 100px;
    }

    ._portfolio_portfolio_top_title {
        font-size: 35px;
    }

    ._portfolio_portfolio_card_title {
        font-size: 28px;
    }

    ._portfolio_portfolio_btn {
        margin: 38px 0 0;
    }

    /* Portfolio Landing Page process start */
    ._portfolio_process_wrapper {
        margin: 0 0 130px;
    }

    ._portfolio_process_left_title {
        font-size: 35px;
        max-width: 100%;
    }

    ._portfolio_process_right_card_title {
        font-size: 25px;
        margin: 0 0 12px;
    }

    ._portfolio_process_right_card_para {
        max-width: 100%;
    }

    /* Portfolio Landing Page Awwwards start */
    ._portfolio_awwwards_top_left_title {
        font-size: 35px;
    }

    ._portfolio_awwwards_list_title {
        font-size: 25px;
        margin: 0 0 20px;
    }

    ._portfolio_awwwards_list_item_txt {
        font-size: 15px;
    }

    ._portfolio_awwwards_wrapper {
        margin: 0 0 100px;
    }

    /* Portfolio Landing Page Clients start */
    ._portfolio_clients_left_title {
        max-width: 100%;
        font-size: 35px;
    }

    ._portfolio_clients_wrapper {
        margin: 0 0 80px;
    }

    /* Portfolio Landing Page footer start  */
    ._portfolio_footer_top_cont {
        padding: 70px 0 28px;
    }

    ._portfolio_footer_left_title {
        max-width: 100%;
        font-size: 35px;
    }
}

/* Ipad pro */
@media(max-width:991px) {
    ._portfolio_header_nav_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    ._portfolio_header_nav_right {
        margin: 0 auto;
    }

    ._portfolio_header_nav_wrapper_list {
        gap: 15px;
        padding: 20px 0 0;
    }
  /* Portfolio Landing Page header herosection */
    ._portfolio_hero_wrapper {
        padding: 50px 0 80px;
    }

    ._portfolio_hero_wrapper_shape {
        bottom: -12px;
    }

    ._portfolio_hero_left_title {
        font-size: 40px;
        margin: 0 0 12px;
    }

    ._portfolio_hero_left_para {
        max-width: 100%;
        font-size: 16px;
    }

    ._portfolio_hero_scroll_bar {
        margin: 0 0 70px;
    }

    ._portfolio_hero_right_video_img {
        right: 163px;
        top: 29px;
    }
 /* Portfolio Landing Page services start */
    ._portfolio_services_bg_img {
        display: none;
    }

    ._portfolio_services_list_item_2 {
        flex: 0 0 284px;
    }

    ._portfolio_services_top_left_title {
        font-size: 30px;
        margin: 0 0 12px;
    }

    ._portfolio_services_top_right_para {
        font-size: 16px;
    }

    ._portfolio_services_list_item_txt {
        font-size: 16px;
    }

    ._portfolio_services_list_item_title {
        font-size: 23px;
    }
/* Portfolio Landing Page portfolio start */
    ._portfolio_portfolio_top_title {
        font-size: 30px;
        margin: 0 0 12px;
    }

    ._portfolio_portfolio_top_para {
        max-width: 100%;
        font-size: 16px;
    }

    ._portfolio_portfolio_card_cont {
        padding: 30px;
        margin: 0 0 18px;
    }
    /* Portfolio Landing Page process start */
    ._portfolio_process_left_title {
        font-size: 30px;
        margin: 0 0 12px;
    }

    ._portfolio_process_left_para {
        max-width: 100%;
        font-size: 16px;
        margin: 0 0 10px;
    }

    ._portfolio_process_right_card_cont {
        padding: 18px 0 0;
    }

    ._portfolio_process_right_card_title {
        font-size: 20px;
        margin: 0 0 4px;
    }

    ._portfolio_process_wrapper {
        margin: 0 0 80px;
    }
    /* Portfolio Landing Page Awwwards start */
    ._portfolio_awwwards_top_left_title {
        font-size: 30px;
        margin: 0 0 12px;
    }

    ._portfolio_awwwards_btm_cont {
        margin: 40px 0 0;
    }

    ._portfolio_awwwards_top_right_para {
        font-size: 16px;
    }

    ._portfolio_awwwards_list_title {
        font-size: 19px;
        margin: 0 0 12px;
    }

    ._portfolio_awwwards_list_cont {
        margin: 0 0 28px;
    }

    ._portfolio_awwwards_wrapper {
        margin: 0 0 50px;
    }
 /* Portfolio Landing Page Clients start */
    ._portfolio_clients_right_cont {
        padding: 40px 0 0;
    }

    ._portfolio_clients_left_title {
        margin: 0 0 12px;
        font-size: 30px;
    }

    ._portfolio_clients_left_para {
        max-width: 100%;
        font-size: 16px;
    }

    ._portfolio_clients_wrapper {
        margin: 0 0 50px;
    }
    /* Portfolio Landing Page footer start  */
    ._portfolio_footer_left_title {
        font-size: 30px;
        margin: 0 0 12px;
    }

    ._portfolio_footer_top_cont {
        padding: 50px 0 0;
    }

    ._portfolio_footer_right_para {
        max-width: 100%;
        font-size: 16px;
    }

    ._portfolio_footer_right_btn_link {
        padding: 0 30px;
        height: 50px;
        font-size: 17px;
    }

    ._portfolio_footer_right_btn {
        margin: 28px 0 0;
    }

    ._portfolio_footer_middle_cont {
        margin: 38px 0 0;
    }

    ._portfolio_footer_middle_btn_list {
        flex-wrap: wrap;
    }

    ._portfolio_footer_btm_title {
        font-size: 15px;
    }

    ._portfolio_footer_btm_cont {
        padding: 30px 0;
    }

    ._portfolio_footer_middle_title {
        font-size: 27px;
        margin: 0 0 20px;
    }
}

/* Ipad/Mobile L */
@media(max-width:767px) {
    ._portfolio_header_nav_wrapper_item_link {
        font-size: 17px;
    }
 /* Portfolio Landing Page header herosection */
    ._portfolio_hero_left_title {
        font-size: 36px;
    }

    ._portfolio_hero_left_para {
        margin: 0 0 28px;
        font-size: 14px;
    }

    ._portfolio_hero_left_btn_link {
        font-size: 17px;
        padding: 0 30px;
        height: 50px;
    }

    ._portfolio_hero_right_video_img {
        right: 0px;
        top: 29px;
    }

    ._portfolio_hero_wrapper_shape {
        bottom: -18px;
    }
    /* Portfolio Landing Page services start */
    ._portfolio_services_list_item_1,
    ._portfolio_services_list_item_2 {
        flex: 0 0 0;
    }

    ._portfolio_services_list {
        align-items: flex-start;
        flex-direction: column;
        padding: 0 0 16px;
        margin: 28px 0 0;
    }

    ._portfolio_services_list_item_title {
        margin: 0 0 12px;
    }

    ._portfolio_services_list_item_txt {
        margin: 0 0 12px;
    }

    ._portfolio_services_btm_cont {
        margin: 46px 0 0;
    }

    ._portfolio_services_top_left_title {
        font-size: 26px;
    }

    ._portfolio_portfolio_top_title {
        font-size: 26px;
    }

    ._portfolio_services_wrapper {
        margin: 80px 0;
    }

    ._portfolio_services_top_right_para {
        font-size: 14px;
    }
    /* Portfolio Landing Page portfolio start */
    ._portfolio_portfolio_top_cont {
        margin: 0 0 40px;
    }

    ._portfolio_portfolio_card_title {
        font-size: 20px;
    }

    ._portfolio_portfolio_card_txt {
        font-size: 14px;
    }

    ._portfolio_portfolio_card_txt {
        margin: 0 0 20px;
    }

    ._portfolio_portfolio_btn {
        margin: 28px 0 0;
    }
    /* Portfolio Landing Page process start */
    ._portfolio_process_left_title {
        font-size: 26px;
    }

    ._portfolio_process_left_para {
        font-size: 14px;
    }
    /* Portfolio Landing Page Awwwards start */
    ._portfolio_awwwards_top_left_title {
        font-size: 26px;
    }

    ._portfolio_awwwards_top_right_para {
        font-size: 14px;
    }

    ._portfolio_awwwards_btm_cont {
        margin: 28px 0 0;
    }

    ._portfolio_awwwards_list_title {
        font-size: 16px;
    }

    ._portfolio_awwwards_list_item_txt {
        font-size: 14px;
    }
 /* Portfolio Landing Page Clients start */
    ._portfolio_clients_left_title {
        font-size: 26px;
    }

    ._portfolio_clients_left_para {
        font-size: 14px;
    }
   /* Portfolio Landing Page footer start  */
    ._portfolio_footer_left_title {
        font-size: 26px;
    }

    ._portfolio_footer_right_para {
        font-size: 14px;
    }

    ._portfolio_footer_middle_title {
        font-size: 20px;
    }

    ._portfolio_footer_middle_btn_list {
        align-items: flex-start;
        flex-direction: column;
    }
}

/* Mobile */
@media(max-width:575px) {
    ._portfolio_hero_wrapper {
        padding: 37px 0 300px;
    }

    ._portfolio_hero_right_video_img {
        right: 392px;
        top: 570px;
    }

    ._portfolio_hero_wrapper_shape_2 {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    ._portfolio_hero_wrapper_shape {
        display: none;
    }

    ._portfolio_clients_right_card {
        max-width: 30%;
    }
}

@media(max-width:420px) {
    ._portfolio_hero_right_video_img {
        right: 235px;
        top: 570px;
    }

    ._portfolio_services_wrapper {
        margin: 50px 0;
    }

    ._portfolio_portfolio_wrapper {
        margin: 0 0 60px;
    }

    ._portfolio_process_wrapper {
        margin: 0 0 50px;
    }

    ._portfolio_portfolio_top_para {
        font-size: 14px;
    }

    ._portfolio_portfolio_card_title {
        font-size: 16px;
    }

    ._portfolio_portfolio_card_cont {
        padding: 20px;
    }

    ._portfolio_portfolio_btn_link {
        font-size: 16px;
        padding: 0 29px;
        height: 50px;
    }

    ._portfolio_footer_middle_btn_link {
        font-size: 16px;
        padding: 0 20px;
        height: 45px;
    }

    ._portfolio_footer_btm_cont {
        padding: 28px 0;
    }

    ._portfolio_footer_btm_title {
        font-size: 14px;
    }
}

@media(max-width:375px) {
    ._portfolio_hero_right_video_img {
        right: 190px;
        top: 570px;
    }

    ._portfolio_portfolio_top_title {
        max-width: 100%;
    }

    ._portfolio_footer_left_title {
        max-width: 96%;
    }
}

/* variable */
:root {
    --color1: #FFFFFF;
    --color2: #0A0911;
    --color3: #32FFAA;
    --color4: #A67CFE;
    --color5: #FDDA5F;
    --color6: #FFA654;
    --color7: #646171;
    --color8: #7451FF;
    --color9: #A58EFF;
    --color10: #141F21;
}